.underlineHoverEffect {
  text-decoration: none;
  color: inherit;
}

.underlineHoverEffect {
  display: inline-block;
  padding-bottom: 0.25rem; 
  position: relative;
}

.underlineHoverEffect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(27, 26, 25);
  transition: width 0.25s ease-out;
}
.underlineHoverEffect:hover::before {
  width: 100%;
}
